
:root{
    --med-margin: 10px;
    --large-margin: 20px;
    --border: 1px solid black;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar{
    background-color: #1993d4;
    color: white;
    width: 300px;
}

.sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

i {
    margin: var(--med-margin);
}
.header-subsection-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: var(--med-margin);
}

.profile-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


input[type="search"] {
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 10px;
    padding: 5px;
  }

.content-wrapper{
    width: 100%;
}

.greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-subsection-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: var(--med-margin);
}

.greeting-text{
    display: flex;
    flex-direction: column;
    margin-left: var(--med-margin);
}
.greeting-text h2, h4{
    margin: 0;
    padding: 0;
}

.ctas{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ctas button{
    background-color: #1993d4;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

.main-content{
 display: flex;  
    flex-direction: row;
    margin: var(--med-margin);

}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.card-variant-1 {
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: var(--med-margin);
    display: flex;
    flex-direction: column;
}

.card-variant-1 > h3, .card-variant-2 > h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-variant-1 > p, .card-variant-2 > p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}


.content-wrapper > h3{
    margin: var(--med-margin);
}

.space{
    flex-grow: 1;
}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.announcements{
    margin: var(--med-margin);
}

.card-variant-2{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.identifiers > p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

p.role {
    color: gray;
}

.card-variant-3{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: var(--large-margin);
}

.card-variant-2, .card-variant-3{
    width: 300px;
}

